@CHARSET "ISO-8859-1";

body {
    
}

button {
	margin: 6px;
}


p {
    text-align: left;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button {
    color: #fff;
    text-decoration: none;
}

#roomboard {
	    
    text-align: left;
    margin: auto;
    /*	width: 960px
    */;
}

.room {
    width: 130px;
    height: 90px;
    margin: 10px;
    padding: 16px;
    background-color: #aaa;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}

.room span {
    display: block;
}


.room a {
    text-decoration: none;
}

.room a:visited, a:active, a:hover {
    color: #000;
}

.room a:hover {
    text-decoration: underline;
}

.roomidcon {
	display:none;
}

